@use "../../common/mixins.scss" as *;

.common-page-layout {
  width: 100%;
  height: 100%;

  & > div {
    width: 100%;
    height: 100%;

    padding: 1rem;

    @include flex($justify: flex-start, $gap: 1rem);
  }
}
