@use "../../common/mixins.scss" as *;

.cocktail-recipe {
  @include flex($align: flex-start, $justify: flex-start, $gap: 1em);

  &__instructions {
    overflow-y: scroll;

    section {
      background-color: var(--color-bg-light);
      padding: 1rem;
      margin-bottom: 1rem;

      white-space: pre-wrap;
    }
  }
}
