@mixin flex($align: center, $justify: center, $direction: column, $gap: var(--gap)) {
  & {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
  }
}

@mixin on-mobile {
  & {
    .common-page-layout--on-mobile & {
      @content;
    }
  }
}
