@use "../../common/mixins.scss" as *;

.error-state {
  @include flex($gap: 1rem);

  h1 {
    text-align: center;
    color: var(--color-error);
  }

  svg {
    path {
      fill: var(--color-error);
    }
  }
}
