@use "../../common/mixins.scss" as *;

.add-recipe {
  header {
    @include flex(
      $direction: row,
      $justify: space-between,
      $align: center
    );
  }

  @include flex($justify: flex-start, $align: stretch, $gap: 1em);

  form {
    flex: 1;
    @include flex($justify: flex-start, $align: stretch, $gap: 1em);

    .button {
      margin-top: auto;
    }
  }
}
